{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <a href="{% url 'todo:index' %}" class="btn btn-dark">Back</a>
    <div class="card-body">
      <p class="lead">{{task.task_name}}</p>
      <ul>
      {% for subtask in task.subtask_set.all %}
        <li>{{subtask.subtask_name}}</li>
      {% endfor %}
    </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{form}}
        <button class="btn-dark">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}